/* carousel.module.css */
.scrollbarHide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbarHide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
  
  .peekCard {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 0.5rem;
    transition: transform 0.3s ease;
  }
  
  /* Apply a subtle effect to the center card */
  .snapCenter:focus-within {
    transform: scale(1.02);
  }